body {
  margin: 0;
  font-family: sans-serif;
}


ul {
  list-style-type: none;
  padding: 0;
  cursor: pointer;
}

li {
  padding: 10px;
  font-size: 1.2em;
  font-weight: 650;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
}

li:hover {
  padding: 12px;
  font-size: 1.3em;
}

.main-app {
  display: flex;
}

aside {
  width: 300px;
  height: 100vh;
  background-color: #1b1b1b;
  color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: width 0.3s ease;
}

main {
  width: calc(100% - 50px);
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;  
  text-align: center;
}

